/* CSS Document */

input.error,
textarea.error {
	border-color: #f00 !important;
}

div.errormsg p {
	margin-top: 20px;
	color: #f00;
}

.datepicker table tr td {
	cursor: pointer;
}

.datepicker .prev,
.datepicker .next {
	cursor: pointer;
	
	background-color: transparent;
	background-image: url(../img/plugins/elfinder/arrows-normal.png);
	background-size: 25px;
	background-repeat: no-repeat;
}

.datepicker .prev {
	background-position: center -11px;
}

.datepicker .next {
	background-position: center 10px;
}

.controls.radios input,
.controls.radios label {
	float: left;
}

.controls.radios label {
	float: left;
	margin: 0 30px 0 10px;
}

.dataTables_length {
	display: none;
}


.input-kompetensi {
	width: 30px;
	margin-right: 5px;
}





